<!doctype html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="ko">
<head>

<meta charset="utf-8">
<title>Word Play</title>
<style>
    button {
      font-size: 1.2em;
    }
    .pause {
        display: none;
    }
    div.eng{
      font-size:4em
    }
    div.kor{
      font-size:2em
    }

</style>

<link rel="stylesheet" type="text/css" href="/default.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

var wordBookId = [[${wordBookId}]];

$( function() {

    function initDisplay(){
      $("div.eng span").hide()
      $(".answer").hide()
      window.setTimeout(showHint, 1000)
    };

    function showHint(){
      $("div.eng span.hint").show()
      window.setTimeout(thinking, 1000)
    };

    var thikingTime = 0;
	function thinking(){
		$("div.eng span.hint").text(
			$("div.eng span.hint").text()+".")
		if( thikingTime++ > 2 )
			showAnswer();
		else
			window.setTimeout(thinking, 1000)
	}

	function showAnswer(){
		$("div.eng span.hint").hide()
		$(".answer").show()
		window.setTimeout(goToNext, 3000)
	};

    initDisplay();

} );

var doGoNext = true;

function goToNext(){
	if(doGoNext)
		window.location.href="/word-play?wordBookId="+wordBookId;
}

function pauseButtonClicked(){
	if(doGoNext){
		doGoNext = false;
		$("button#pauseButton").text("CONTINUE")
		$(".pause").show()
	} else {
		doGoNext = true;
		$(".pause").hide()
		goToNext();
	}
}

function gotItButtonClicked(){
    pauseButtonClicked();
    $("form#gotit").submit();
}

</script>
</head>
<body>
<div class="top-button-bar">
    <span th:unless="${userSignedIn}"><a href="/signin">SIGN IN</a></span>
    <span th:text="${{userSignId}}">userSignId</span>
    <span th:if="${userSignedIn}"><a href="/signOut">SIGN OUT</a></span>
</div>
<div class="body">
	<div class="eng">
		<span th:text="${{hint}}" class="hint">h</span>
		<span th:text="${{eng}}" class="answer">happy</span>
	</div>
	<div th:text="${{kor}}" class="kor">행복한</div>
	<div class="bottom-button-bar">
		<table width="100%">
			<tr>
				<td style="text-align: left">
					<span>Proficiency: </span>
					<span th:text="${proficiency}">Proficiency: 99</span>
					<span class="pause"><a href="/word-books">다른 단어장</a></span>
				</td>
				<td style="text-align: right">
					<button id="pauseButton" onclick="pauseButtonClicked()">PAUSE</button>
					<button class="gotit" onclick="gotItButtonClicked()">GOT IT</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<form id="gotit" method="post">
	<input type="hidden" name="wordBookId" th:value="${wordBookId}"/>
	<input type="hidden" name="wordId" th:value="${wordId}"/>
</form>
</body>
</html>
