<!doctype html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Word Play</title>
    <style>
    div.eng{
      font-size:8em
    }
    div.kor{
      font-size:6em
    }
  </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
  $( function() {
  } );
  </script>
</head>
<body>
ID: <input type="text"/>
<input type="button" value="SIGN IN"/>
</body>
</html>
