<!doctype html>
<html lang="ko">
<head>

<meta charset="utf-8">
<title>word books - Word Play</title>
<style>
	td{
		text-align: left;
	}

</style>

<link rel="stylesheet" type="text/css" href="/css/default.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

$( function() {

} );

</script>
</head>
<body>
<div class="top-button-bar">
    <span th:unless="${userSignedIn}"><a href="/signin">SIGN IN</a></span>
    <span th:text="${{userSignId}}">userSignId</span>
    <span th:if="${userSignedIn}"><a href="/signOut">SIGN OUT</a></span>
</div>

<div class="body">
	<table width="100%">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="wordBook: ${wordBooks}">
			<td>*</td>
			<td>
				<a th:href="@{/user-word-book(wordBookId=${wordBook.id})}"><span th:text="${wordBook.title}"></span></a>
			</td>
			<td th:text="${wordBook.modifiedAt}"></td>
		</tr>
		</tbody>
	</table>
</div>

<div class="bottom-button-bar">
</div>

</body>
</html>
